@font-face {
    font-family: IranSans;
    src: url('../font/IranSans.ttf');
}

:root {
    --ff-primary: 'IranSans';

    --txt-clr-primary: #000;
    --txt-clr-secondry: #404040;

    --fs-secondry: 1.5rem;
    --fs-nav: 1.25rem;
    --clr-active: #FFA600;

}

* {
    font-family: 'IranSans';
}

a {
    text-decoration: none;
    color: var(--txt-clr-primary);
    transition: .2s;
}

a:hover {
    color: var(--clr-active);
}
/* 
.container {
    --max-width: 1400px;
    --container-padding: 1rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2)) !important;
    margin-inline: auto !important;
} */

.button {
    outline: none;
    background: #fff;
    border: 3px solid black;
    cursor: pointer;
    height: 45px;
    padding: 8px 14px;
}

.primary-red-button{
    border-color: #E1251B;
}

.primary-yellow-button{
    border-color: var(--clr-active);
}

.secondry-button{
    background: #C9C9C9;
    border: none;
    width: 45px;
}

/* header -------------------------- */
header {
    margin-bottom: 70px;
}

header nav {
    height: 73px;
}

header nav ul li {
    margin: 0 20px;
    font-size: 1rem;
}
/* router ----------------------------- */
.route .row{
    color: #C9C9C9;
    margin-bottom: 40px;
}

.route .row span{
    margin: 0 10px;
    color: #404040;
}

/* post ------------------------------- */
.post {
    box-sizing: border-box;
    border: 1px solid #707070;
    margin: 30px;
    padding: 0 !important;
}

.post h3 {
    padding: 35px 0 0 30px;
    font-size: 1.75rem;
    padding: 10px 20px 0 20px;
}

.post p {
    padding: 0 20px;
    font-size: 1rem;
    color: #404040;
}

/* footer ----------------------------------- */

footer {
    position: relative;
    background-image: url('../img/footer-background.svg');
    background-position: center;
    background-position-x: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container h4 {
    font-size: 1.25rem;
}

footer .container a,
p,
li {
    font-size: .85rem;
    color: #404040;
}

footer .container a:hover {
    color: #FFA600;
}

footer .container .left {
    display: flex;
}

footer .container .first-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .container .first-col .mt0 {
    margin-top: 0;
}

footer .container .second-col {
    margin-left: 30px;
}

footer .container ul {
    list-style: none;
}

footer .container .right .contacts.contacts {
    max-width: 300px;
}

footer .container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

footer .container .right > * {
    width: 100%;
}

footer .container ul li:first-child,
footer .container .right .contacts h4 {
    margin-top: 20px;
}

footer .container .first-col .copyright {
    font-size: 1.25rem;
    color: #C9C9C9;
}

footer .container .right .social-media ul {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

footer .container .right .social-media ul li {
    margin: 0;
}
