/* companie Logo ------------------------ */

.companies {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('../img/companies-background.svg');
    background-position: center;
    height: 400px;
    padding: 150px 50px;
    display: flex;
    justify-content: center;
}

.companies img {
    height: 100%;
    width: auto;
    object-fit: cover;
    margin: 0 50px;
}

/* last Archives --------------------- */

.last-posts {
    position: relative;
}

.last-posts .heading {
    margin-top: 95px;
    margin: 95px 0;
    width: 100%;
    text-align: center;
}

.last-posts .heading h2 {
    font-size: 3rem;
}

.last-posts .heading p {
    font-size: 2.25rem;
}

.last-posts .heading p.date {
    font-size: 1.5rem;
    color: #C9C9C9;
    margin-top: 0;
}

.last-posts .heading p span {
    color: #006241;
}

.last-posts .button-more {
    width: 100%;
    position: relative;
    margin: 50px 0;
    padding-left: 84%;
}

.last-posts .container a {
    border-color: #FFA600;
    background: #FFA600;
    color: #fff;
    height: 80px;
    width: 200px;

    font-size: 1.875rem;
    font-weight: bold;
}
